
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps01-checkpoint.ipynb
.ipynb_checkpoints/ps03-checkpoint.ipynb
.ipynb_checkpoints/ps02-checkpoint.ipynb
.ipynb_checkpoints/ps02-checkpoint.ipynb
.ipynb_checkpoints/ps01-answers-checkpoint.pdf
.ipynb_checkpoints/ps07-checkpoint.ipynb
.ipynb_checkpoints/ps02-checkpoint.ipynb
.ipynb_checkpoints/ps08-checkpoint.ipynb
